<?xml version="1.0"?>
<config>
    <modules>
        <Wage_Client>
            <version>0.1.0</version>
        </Wage_Client>
    </modules>
    <global>
        <helpers>
            <client>
                <class>Wage_Client_Helper</class>
            </client>
        </helpers>
        <blocks>
            <client>
                <class>Wage_Client_Block</class>
            </client>
        </blocks>
        <models>
            <client>
                <class>Wage_Client_Model</class>
                <resourceModel>client_mysql4</resourceModel>
            </client>
            <client_mysql4>
                <class>Wage_Client_Model_Mysql4</class>
                <entities>
                    <survey>
                        <table>codebase_survey</table>
                    </survey>
                </entities>
            </client_mysql4>
        </models>
        <resources>
            <client_setup>
                <setup>
                    <module>Wage_Client</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </client_setup>
            <client_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </client_write>
            <client_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </client_read>
        </resources>
    </global>
    <admin>
        <routers>
            <client>
                <use>admin</use>
                <args>
                    <module>Wage_Client</module>
                    <frontName>admin_client</frontName>
                </args>
            </client>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <client>
                    <file>client.xml</file>
                </client>
            </updates>
        </layout>
    </adminhtml>    
    <crontab>
        <jobs>            
            <client_downloadproject>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>client/cron::downloadProject</model></run>
            </client_downloadproject>
        </jobs>
    </crontab>
    <default>
        <client>
            <survey>
                <name>If, After the project is underway, Something were to occur that required the project plan to be adjusted, the adjustments should be based on the following priorities</name>
            </survey>
        </client>
    </default>
</config> 
